@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   .home-navlinks{
    @apply text-center mt-7 mb-7
   }
   .home-navlinks span{
    @apply text-slate-700 text-base tracking-wide ml-2 font-medium
   }
   .home-header{
      @apply  relative
   }
   .header-image{
      @apply w-full object-cover object-center;
      height: 500px;
   }
  .home-label{
   @apply text-center text-white;

  }
.home-text{
   @apply font-bold text-[28px] md:text-3xl lg:text-4xl text-white text-center
}
   .search-input{
      @apply border border-slate-700  w-2/3 md:w-1/2 rounded-mdx outline-none pl-3 text-mdx font-normal tracking-wider text-slate-600;
      height: 35px;
   }
   .home-search{
      @apply absolute top-1/3 left-3 md:left-40 lg:top-1/3 lg:left-64 tracking-wide z-10 text-xls md:text-3xl lg:text-4xl mx-0 md:mx-12 lg:mx-20 font-bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .explore-state{
      @apply text-center flex justify-center text-xl font-medium mt-7  h-[73vh]  translate-y-[40%]
   }
   .explore-state div{
      @apply w-[30px] h-[30px] rounded-[50%] bg-green-600 ml-3 ;
      animation: loading 2s infinite cubic-bezier(0, 0, 0.2, 1);
   }
   .explore-state:nth-child(1){
      @apply transition-all
   }
}

@media (max-width:800px) {
   .header-image{
      width: 100%;
      height: 300px;
      /* background: linear-gradient(),url() center top; */
   }
}

@keyframes loading {
   50%, 75% {
      transform: scale(2);
      opacity: 0.7;
  }
}