@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   .form-container{
    @apply bg-white border-t-4 rounded-mdx border-green-600  w-[100%] m-0 h-[100vh] md:h-full  lg:w-1/3 md:w-6/12 shadow-lg p-6;
    margin: 10% auto 0;
   }
   @media(max-width:800px){
      .form-container{
         margin:  0px;
      }   
   }
   .form-header h2{
        @apply text-2xl text-center mb-3 font-medium;
   }
   .state{
    @apply text-center font-medium text-sm text-red-600 mb-2
   }
   .form-input-container{
    @apply mt-2
   }
   .form-input-container section{
    @apply mb-2
   }
   .form-input-container section label{
    @apply text-lg text-slate-700 tracking-wide mb-0.5
   }
   .form-input-container section input{
    @apply bg-slate-100 border-slate-600 pb-1.5 border rounded-mdx outline-none text-mdx text-slate-800 tracking-wider  w-full p-1
   }
   .submit-btn,.submitting{
    @apply text-center bg-green-600 w-full  font-medium text-lg text-white rounded-mdx;
    padding: 4px 0px;
   }
   .form-footer{
    @apply mt-3 text-center 
   }
   .form-footer h4{
    @apply  font-medium;
    font-size: 17px;
   }
}