$shadowOne: 3px 8px 12px rgba(228, 224, 224, 0.5);
main{
    margin: 10px ;
    .posts-container{
        background-color: white;
        box-shadow: $shadowOne;
        padding: 20px;
        margin-top: 20px;
        border-radius: 4px;
    }
    .post-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        border-top: 2px solid rgb(245, 245, 245);
        padding-top: 5px;
        h2{
            font-size: 14px;
            color: gray;
            letter-spacing: 1px;
        }
    }
}

@media (max-width:800px) {
    main{
        margin: 3px;
    }
}